Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  concurrency-*,
  performance-*,
  llvm-*,
  modernize-*,
  -cppcoreguidelines-owning-memory,
  -llvm-include-order,
  -cppcoreguidelines-pro-type-union-access,

HeaderFilterRegex: ""

WarningsAsErrors: "*"

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
