[submodule "source/vendor/glfw"]
	path = source/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "source/vendor/spdlog"]
	path = source/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "source/vendor/googletest"]
	path = source/vendor/googletest
	url = https://github.com/google/googletest.git
