[submodule "src/engine/vendor/spdlog"]
	path = src/engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/engine/vendor/glfw"]
	path = src/engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "src/engine/vendor/imgui"]
	path = src/engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/engine/vendor/glm"]
	path = src/engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/cluster/vendor/gsl"]
	path = src/cluster/vendor/gsl
	url = https://github.com/microsoft/GSL.git
